nav{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    background-color: blueviolet;
    position: fixed;
    width: 100%;
    color: white;
}

span{
    margin-right: 1em;
    cursor: pointer;
}

footer{
    text-align: center;
}